div {
    background-color: rgb(23, 151, 23);
    color: antiquewhite;
    font-size: 12px;

}

h2 {
    background-color: rgb(23, 151, 23);
    color: white;
    font-size: 20px;
}

.sandeep {
    background-color: rgb(214, 233, 213);
    font-size: 40px;
}

.sandeep1 {
    background-color: rgb(255, 174, 0);
    color: whitesmoke;
    font-size: 18px;

}

h3 {
    color: white;
    font-size: medium;
}

.sandeep2 {
    background-color: rgb(116, 12, 104);
    color: antiquewhite;
    font-size: 70%;
}

h5 {

    color: black;
    font-size: medium;
}

.sandeep3 {
    background-color: rgb(116, 12, 104);
    font-size: 15px;
}


.sandeep4 {
    background-color: cadetblue;
    color: black;
    font-size: 17px;
}

.sandeep5 {
    background-color: cadetblue;
    font-size: 15px;
}


.sandeep6 {
    background-color: rgb(128, 128, 19);
    font-size: 13px;
}


h4 {
    color: rgb(62, 95, 14);
    font-size: 17px;
}

.sandeep7 {
    background-color: palevioletred;
    color: antiquewhite;
    font-size: 16px;

}

.sandeep8 {
    background-color: coral;
    color: black;
    font-size: 15px;
}

.sandeep9 {
    background-color: coral;
    font-size: 15px;
}